<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<h1 class="center-me">About</h1>
	</div>
</div>
<div class="row">
	
	<div class="col-md-7 pull-left">
		
		
		<p>Areas of interest:</p>
		<ul>
			<li>Survivors of childhood trauma (physical, sexual, emotional)</li> 
			<li>All areas of Trauma/Post Traumatic Stress Disorder, 
			Mood and Anxiety Disorders</li>
			<li>Depression</li>
			<li>Autism/ASD</li>
			<li>Adolescent concerns (self-harm, bullying, body image and self-confidence)</li>
			<li>Difficulties with interpersonal relationships</li>
		</ul>
		<br/>
			<p>
				Anna holds a Master’s Degree in Counselling and Psychotherapy and is a member of PACFA (Psychotherapy and Counselling Federation of Australia). Over the last 8 years Anna has worked with children, adolescents and adults across a number of different settings. Anna has worked with sexual abuse and sexual assault survivors, with children who have experienced significant childhood trauma, with children, adolescents and adults living with Autism/ASD, with homeless children and young people, with adolescents suffering with mental health concerns, with refugees and asylum seekers on Christmas Island and as a Private Practitioner working with a wide range of presenting concerns. 
			</p>
			<p>
				Anna has a particular interest in exploring ways to creatively engage with children and adolescents through the use of art, play, story and movement. Anna is a qualified Yoga Teacher, specialising in Trauma-Sensitive Yoga and often uses this as a tool in assisting her clients begin to build the important relationship between their minds and their bodies through breath and movement.
			</p>
			<p>
				Anna provides a warm, safe, and supportive environment in which her clients can explore the issues and challenges they face. She utilises a strengths-based approach in her work with clients recognising that each person comes with their own wisdom and lived experience. Anna's role is to help empower clients to connect with strengths and skills they already have and to integrate these with new skills and ways of being. Anna's therapeutic model is eclectic and is drawn from the following models/theories – Attachment theory, Trauma-Sensitive Yoga, Life Story Therapy, Acceptance and Commitment Therapy, Sensorimotor Psychotherapy, DDP (Dyadic Development Psychotherapy), Mindfulness-based therapies and Trauma-Specific Therapies. 
			</p>
		


	</div>
	<div class="col-md-4">
		<img src="../static/img/profile.jpg" alt="..." class="img-responsive img-rounded center-block" id="profilepic">
	</div>
</div>