<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<h1>Contact</h1>
		<h2 id="contactNumber">(123) 345 345</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-1 col-md-5">
		<h5>Contact Hours</h5>
		<table class="table">
			<tr>
				<td><strong>Monday - Wednesday</strong></td>
				<td>9am - 3pm</td>
			</tr>
			<tr>
				<td><strong>Friday</strong></td>
				<td>12pm - 4pm</td>
			</tr>
		</table>
		
		<h5>Information</h5>
		<p>
			<address>
				<strong>Anna Fasolo</strong><br>
				123 Local Street<br>
				St Kilda<br>
				VIC, 3005<br>
				<abbr title="Phone">P: </abbr><a href="telto:1233449494">(123) 345 345</a><br>
				<abbr title="Email">E: </abbr> <a href="mailto:email@email.com">email@email.com</a>
			</address>
		</p>
	</div>
	<div class="col-md-5">
	 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3154.731412785174!2d144.96897131531694!3d-37.74944487976402!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad644b01a6b815f%3A0x6ddc6354bfc8fb26!2s37+Hardwick+St%2C+Coburg+VIC+3058!5e0!3m2!1sen!2sau!4v1473253519997" width="95%" height="500" frameborder="0" style="border:0" allowfullscreen z="10" id="mappy"></iframe>
	</div>
</div>