<footer>
	<div class="row" id="footertoprow">
		<h3>AF|Psychotheraphy</h3>
	</div>
	<div class="row" id="footerbottomrow">
		<div class="col-md-offset-2 col-md-4">
		<p>
			<nav>
				<ul>
					<li><a href="#page-top">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#services">Services</a></li>
					<li><a href="#pricing">Pricing</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>
		</p>
		</div>
		<div class="col-md-offset-1 col-md-4">
			
			
				<strong>Anna Fasolo</strong><br>
				123 Local Street<br>
				St Kilda<br>
				VIC, 3005<br>
				<abbr title="Phone">P: </abbr><a href="telto:1233449494">(123) 345 345</a><br>
				<abbr title="Email">E: </abbr> <a href="mailto:email@email.com">email@email.com</a>
			
		
		</div>
	</div>
	<div class="row center-me">
		Copyright Anna Fasolo 2016.
	</div>
</footer>