<footer>
	<div class="row" id="footertoprow">
		<h3>AF | PSYCHOTHERAPY</h3>
	</div>
	<div class="row" id="footerbottomrow">
		<div class="col-md-offset-3 col-md-4">
		<p>
			<nav>
				<ul>
					<li><a href="#page-top">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#services">Services</a></li>
					<li><a href="#pricing">Pricing</a></li>
					<li><a href="#yoga">Yoga</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
			</nav>
		</p>
		</div>
		<div class="col-md-offset-1 col-md-4">
			
			
				<strong>Anna Fasolo</strong><br>
				<abbr title="Phone">P: </abbr><a href="tel:0431304985">0431 304 985</a><br>
				<abbr title="Email">E: </abbr> <a href="mailto:annafasolo@gmail.com">annafasolo@gmail.com</a>
			
		
		</div>
	</div>
	<div class="row center-me">
		Copyright Anna Fasolo 2016.
	</div>
</footer>