	<div class="row">
	<div class="container" id="topHeader">
		<img src="../static/img/logo_01.jpg" alt="..." class="img-responsive img-rounded center-block" id="logopic" width="150px">
		<h1>AF|<small>Psychotherapy</small></h1>
		<p>
			<address>
				<strong>Anna Fasolo</strong><br>
				<abbr title="Phone">P: </abbr><a href="telto:0431304985">0431 304 985</a><br>
				<abbr title="Email">E: </abbr> <a href="mailto:annafasolo@gmail.com">annafasolo@gmail.com</a>
			</address>
		</p>
		<p id="socialButtons">
			<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
			<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
		</p>
	</div>
	</div>
<header>

	<div class="row">
		<div class="jumbotron">
			<h1>"Rivers know this: there is no hurry. We shall get there some day."</h1>
			<p><i>- A. A. Milne</i></p>
			<p>
			<a href="#about">
			<button class="btn btn-primary">Learn more</button>
			</a>
			</p>
		</div>
	</div>
</header>