<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<h1>Services</h1>
		<p class="center-me">Modes of therapy</p><br />
	</div>
</div>






<div class="row">
	<div class="col-md-4">
		
			<h3>Mindfulness</h3>
			<img src="../static/img/brain_icon.png" alt="..." class="img-responsive img-rounded center-block" id="service-icon">
		
	</div>
	<div class="col-md-7">
		<p>
			Mindfulness is a modern reworking of ancient meditation traditions, principally Buddhist. It is designed to help you deal with day to day difficulties by putting you in control of your own mind. The aim of mindfulness therapy is to help you learn to be aware of your thoughts and bodily sensations and in so doing be able to better cope with day to day emotions and problems. In the sessions, we may use guided meditation exercises, grounding exercises, breathing, yoga or movement based activities.
		</p>
	</div>
</div>

<br /><br />

<div class="row">
	<div class="col-md-4">
		
			<h3>DDP</h3>
			<img src="../static/img/adult_child_icon.png" alt="..." class="img-responsive img-rounded center-block" id="service-icon">
		
	</div>
	<div class="col-md-7">
		<p> DDP stands for Dyadic Developmental Psychotherapy, where the work is done with both the young person and their primary carer. It is a therapy and parenting approach that uses what we know about attachment and trauma to help children and families with their relationships. In this treatment, the therapist and the parent use an attitude known as P.A.C.E (Playful, Accepting, Curious and Empathetic). PACE was developed as a way of thinking, feeling, communicating and behaving that aims to make the child in care feel safe. With P.A.C.E, the child can start to look at themselves and let others start to see them, or get closer emotionally. In short, they can start to trust again.
		</p>
	</div>
</div>

<br /><br />

<div class="row">
	<div class="col-md-4">
		
			<h3>Trauma-Sensitive Yoga</h3>
			<img src="../static/img/yoga_icon.png" alt="..." class="img-responsive img-rounded center-block" id="service-icon">
		
	</div>
	<div class="col-md-7">
		<p>
			Trauma Center Trauma-Sensitive Yoga (TCTSY) is an empirically validated, adjunctive clinical treatment for complex trauma or chronic, treatment-resistant PTSD. Developed at the Trauma Center in Brookline, Massachusetts, TSY has foundations in Trauma Theory, Attachment Theory, and Neuroscience as well as Hatha Yoga practice with an emphasis on body-based yoga forms and breathing practices. 
		</p>
	</div>
</div>

<br /><br />

<div class="row">
	<div class="col-md-4">
		
			<h3>Sensorimotor Psychotherapy</h3>
			<img src="../static/img/jumping_icon.png" alt="..." class="img-responsive img-rounded center-block" id="service-icon">
		
	</div>
	<div class="col-md-7">
				<p>
				 Sensorimotor Psychotherapy is a method that integrates sensorimotor processing with cognitive and emotional processing in the treatment of trauma. Sensorimotor Psychotherapy™ is a body-centred approach that aims to treat the somatic symptoms of unresolved trauma. While traditional talk therapies utilise the words of a person as the entry point for treatment, this type of therapy depends on the bodily experiences of the individual as a gateway to awareness and improved mental health.
				</p>
				<p>
				Proponents of Sensorimotor Psychotherapy™ hold that traumatic experiences may become trapped deep within the body, with those who are affected sometimes completely unaware of the existence of unresolved trauma. Traditional talk therapies may fail to unearth these unconscious issues.
				</p>
				<p>
					Therapists trained in sensorimotor therapy techniques can help an individual begin to heal by helping that person re-experience, in a safe environment, the physical sensations associated with a traumatic event.
				</p>
	</div>
</div>

<br /><br />



<br /><br />

<div class="row">
	<div class="col-md-4">
		
			<h3>Theraplay</h3>
			<img src="../static/img/blocks_icon.png" alt="..." class="img-responsive img-rounded center-block" id="service-icon">
		
	</div>
	<div class="col-md-7">
		<p>
				Theraplay is a proactive, intensive, relationship focused parent-child therapy (great for foster carers and residential carers too!) It is modelled on the natural patterns of healthy interaction between parent and child: the kind of interaction that leads to secure attachment. Theraplay interactions focus on four essential qualities found in parent-child relationships: Structure, Engagement, Nurture, and Challenge. Theraplay sessions create an active, emotional connection between the child and parent or caregiver, resulting in a changed view of the self as worthy and lovable and of relationships as positive and rewarding.
			</p><p>
			During sessions, the therapist guides the parent and child through playful, fun games, developmentally challenging activities, and tender, nurturing activities. The very act of engaging each other in this way helps the parent regulate the child’s behaviour and communicate love, joy, and safety to the child. It helps the child feel secure, cared for, connected and worthy.
				</p>
	</div>
</div>

<br /><br />

<div class="row">
	<div class="col-md-4">
		
			<h3>Child-Centred Play Therapy</h3>
			<img src="../static/img/childcenteredplay_icon.png" alt="..." class="img-responsive img-rounded center-block" id="service-icon">
		
	</div>
	<div class="col-md-7">
		<p>
			This is a method used to help children communicate their inner experiences through the use of toys and play. This type of therapy is founded on the belief that children are capable of directing their own process rather than the therapist imposing their own ideas of what the child needs to do in therapy to work through any challenges they may be facing. This requires the therapist to enter the emotional world of the child rather than expecting the child to understand the therapist’s world. Play therapy is based on the theory that play is a child’s language, the toys in the playroom can be used as a means for a  child to express their inner experiences and how they perceive and experience the world. The toys in the playroom are then used by the child to speak to the therapist and communicate their inner thoughts and feelings.

 
		</p>
	</div>
</div>



