<div class="row">
	<div class="row">
	<div class="col-md-offset-3 col-md-6">
		<h1>Yoga</h1>
		<p> Anna is a qualified a Psychotherapist, currently working with children who have experienced childhood trauma, aiming to bring playfulness, love, acceptance and curiosity into their worlds. She was a fairy, bringing magic into the lives of children and adults for many years back in her home town of Perth and continues to sprinkle fairy magic on the children and adults she works with now. Anna delights in bringing together the art of play, magic and connection through this beautiful practise of yoga. Her yoga classes emphasise the importance of the connection between mind and body, the balance between hold on and letting go, kindness to others and to self and always incorporate some playfulness.
		</p>
		<p>
			Anna can take group or private classes. She has completed her 200 hour Teacher Training with Power Living, her 50 hour Yin Teacher Training with Jo Phee, 50 hour Super Sequencing Teacher Training with Laughing Lotus and her Kid’s Yoga Teacher Training with Zenergy.
		</p>
	</div>
	</div>

	<div class="row" id="pricingTable">
	<div class="col-md-offset-3 col-md-6">
		<table class="table table-striped" >
			<tr>
				
				<td>Group Classes</td>
				<td>$15 pp / hr</td>
			</tr>
			<tr>
				<td>Private Classes</td>
				<td>$70 / hr</td>
			</tr>
	
			
		</table>
		</div>
	</div>
</div>